.faq{
    padding: 80px 0;
    background: #E5E5E5;
}

.faq__wrapper{
    width: 1168px;
    margin: 0 auto;
}

.faq__header{
    margin-bottom: 35px;
}

.faq__header h5{
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
    margin: 0;
    margin-bottom: 15px;
}

.faq__header p{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    color: #222222;
}

.faq__body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.faq__body__child{
    width: 48%;
    margin-bottom: 20px;
}

.faq__body__child h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    margin: 0;
    margin-bottom: 10px;
}

.faq__body__child p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin: 0;
}