.footer_wrapper{
    height: 427px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__logo{
    height: 74px;
    width: 75px;
    margin-bottom: 15px;
}

.footer__title{
    height: 37.40625px;
    width: 120px;
}

.footer_wrapper div{
    margin-top: 20px;
}

.footer_wrapper div a{
    margin: 0 10px;
}